openapi: 3.0.3
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Authorization Productions API
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers. This v1 surface is documented publicly and is marked DEPRECATED by Autodesk, which recommends migrating to the v2 API on Autodesk Platform Services (APS). Authentication is HTTP Basic (API Key as username, API Secret as password) which mints a 2-hour token; most endpoints also accept an access_token query parameter. Requests and responses are JSON; dates are ISO 8601. Rate limit is 120 requests per minute per company.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Productions
paths:
  /api/v1/productions/:
    post:
      tags:
      - Productions
      operationId: createProduction
      summary: Create production record
      responses:
        '201':
          description: Created
    get:
      tags:
      - Productions
      operationId: listProductions
      summary: List production records
      responses:
        '200':
          description: OK
  /api/v1/productions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Productions
      operationId: updateProduction
      summary: Update production record
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Productions
      operationId: deleteProduction
      summary: Delete production record
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
