openapi: 3.0.3
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Authorization Purchase Orders API
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers. This v1 surface is documented publicly and is marked DEPRECATED by Autodesk, which recommends migrating to the v2 API on Autodesk Platform Services (APS). Authentication is HTTP Basic (API Key as username, API Secret as password) which mints a 2-hour token; most endpoints also accept an access_token query parameter. Requests and responses are JSON; dates are ISO 8601. Rate limit is 120 requests per minute per company.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Purchase Orders
paths:
  /api/v1/purchase-orders/:
    post:
      tags:
      - Purchase Orders
      operationId: createPurchaseOrder
      summary: Create purchase order
      responses:
        '201':
          description: Created
    get:
      tags:
      - Purchase Orders
      operationId: listPurchaseOrders
      summary: List purchase orders
      responses:
        '200':
          description: OK
  /api/v1/purchase-orders/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Purchase Orders
      operationId: getPurchaseOrder
      summary: Retrieve purchase order
      responses:
        '200':
          description: OK
    put:
      tags:
      - Purchase Orders
      operationId: updatePurchaseOrder
      summary: Update purchase order
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Purchase Orders
      operationId: deletePurchaseOrder
      summary: Remove purchase order
      responses:
        '204':
          description: No Content
  /api/v1/purchase-orders/{id}/files:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Purchase Orders
      operationId: createPurchaseOrderFile
      summary: Create purchase order file
      responses:
        '201':
          description: Created
    get:
      tags:
      - Purchase Orders
      operationId: listPurchaseOrderFiles
      summary: List purchase order files
      responses:
        '200':
          description: OK
  /api/v1/purchase-orders/{id}/files/{file_id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: file_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Purchase Orders
      operationId: getPurchaseOrderFile
      summary: Retrieve purchase order file
      responses:
        '200':
          description: OK
    put:
      tags:
      - Purchase Orders
      operationId: updatePurchaseOrderFile
      summary: Update purchase order file
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Purchase Orders
      operationId: deletePurchaseOrderFile
      summary: Remove purchase order file
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
