openapi: 3.0.3
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Authorization Production Orders API
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers. This v1 surface is documented publicly and is marked DEPRECATED by Autodesk, which recommends migrating to the v2 API on Autodesk Platform Services (APS). Authentication is HTTP Basic (API Key as username, API Secret as password) which mints a 2-hour token; most endpoints also accept an access_token query parameter. Requests and responses are JSON; dates are ISO 8601. Rate limit is 120 requests per minute per company.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Production Orders
paths:
  /api/v1/production-orders/:
    post:
      tags:
      - Production Orders
      operationId: createProductionOrder
      summary: Create production order
      responses:
        '201':
          description: Created
    get:
      tags:
      - Production Orders
      operationId: listProductionOrders
      summary: List production orders
      responses:
        '200':
          description: OK
  /api/v1/production-orders/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Production Orders
      operationId: getProductionOrder
      summary: Retrieve production order
      responses:
        '200':
          description: OK
    put:
      tags:
      - Production Orders
      operationId: updateProductionOrder
      summary: Update production order
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Production Orders
      operationId: deleteProductionOrder
      summary: Remove production order
      responses:
        '204':
          description: No Content
  /api/v1/production-orders/{id}/problem:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Production Orders
      operationId: notifyProductionOrderProblem
      summary: Notify production issue
      responses:
        '200':
          description: OK
  /api/v1/production-orders/{id}/activate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Production Orders
      operationId: activateProductionOrder
      summary: Activate production order
      responses:
        '200':
          description: OK
  /api/v1/production-orders/{id}/files:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Production Orders
      operationId: createProductionOrderFile
      summary: Create production order file
      responses:
        '201':
          description: Created
    get:
      tags:
      - Production Orders
      operationId: listProductionOrderFiles
      summary: List production order files
      responses:
        '200':
          description: OK
  /api/v1/production-orders/{id}/files/{file_id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: file_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Production Orders
      operationId: getProductionOrderFile
      summary: Retrieve production order file
      responses:
        '200':
          description: OK
    put:
      tags:
      - Production Orders
      operationId: updateProductionOrderFile
      summary: Update production order file
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Production Orders
      operationId: deleteProductionOrderFile
      summary: Remove production order file
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
