openapi: 3.2.0
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Authorization…
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Authorization
paths:
  /api/v1/authorization:
    get:
      tags:
      - Authorization
      operationId: getAuthorization
      summary: Retrieve authorization token (deprecated)
      deprecated: true
      responses:
        '200':
          description: OK
    post:
      tags:
      - Authorization
      operationId: createAuthorization
      summary: Create new authorization token (deprecated)
      deprecated: true
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Authorization
      operationId: deleteAuthorization
      summary: Remove authorization (deprecated)
      deprecated: true
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
