openapi: 3.2.0
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Task…
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Task Durations
paths:
  /api/v1/task-durations/:
    post:
      tags:
      - Task Durations
      operationId: createTaskDuration
      summary: Create task duration record
      responses:
        '201':
          description: Created
    get:
      tags:
      - Task Durations
      operationId: listTaskDurations
      summary: List task durations
      responses:
        '200':
          description: OK
  /api/v1/task-durations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Task Durations
      operationId: getTaskDuration
      summary: Retrieve task duration
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Task Durations
      operationId: updateTaskDuration
      summary: Update task duration
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Task Durations
      operationId: deleteTaskDuration
      summary: Delete task duration
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
