openapi: 3.0.3
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Authorization Products API
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers. This v1 surface is documented publicly and is marked DEPRECATED by Autodesk, which recommends migrating to the v2 API on Autodesk Platform Services (APS). Authentication is HTTP Basic (API Key as username, API Secret as password) which mints a 2-hour token; most endpoints also accept an access_token query parameter. Requests and responses are JSON; dates are ISO 8601. Rate limit is 120 requests per minute per company.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Products
paths:
  /api/v1/products/:
    post:
      tags:
      - Products
      operationId: createProduct
      summary: Create product
      responses:
        '201':
          description: Created
    get:
      tags:
      - Products
      operationId: listProducts
      summary: List products
      responses:
        '200':
          description: OK
  /api/v1/products/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Products
      operationId: getProduct
      summary: Retrieve product
      responses:
        '200':
          description: OK
    put:
      tags:
      - Products
      operationId: updateProduct
      summary: Update product
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Products
      operationId: deleteProduct
      summary: Delete product
      responses:
        '204':
          description: No Content
  /api/v1/products/{id}/files:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Products
      operationId: createProductFile
      summary: Create product file
      responses:
        '201':
          description: Created
    get:
      tags:
      - Products
      operationId: listProductFiles
      summary: List product files
      responses:
        '200':
          description: OK
  /api/v1/products/{id}/files/{file_id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: file_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Products
      operationId: getProductFile
      summary: Retrieve product file
      responses:
        '200':
          description: OK
    put:
      tags:
      - Products
      operationId: updateProductFile
      summary: Update product file
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Products
      operationId: deleteProductFile
      summary: Remove product file
      responses:
        '204':
          description: No Content
  /api/v1/products/{id}/bom:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Products
      operationId: updateProductBom
      summary: Update Bill of Materials
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
