openapi: 3.2.0
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Inventory API
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Inventory
paths:
  /api/v1/inventory/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Inventory
      operationId: getInventory
      summary: Retrieve product inventory
      responses:
        '200':
          description: OK
  /api/v1/inventory-movements/:
    post:
      tags:
      - Inventory
      operationId: createInventoryMovement
      summary: Create inventory movement
      responses:
        '201':
          description: Created
    get:
      tags:
      - Inventory
      operationId: listInventoryMovements
      summary: List inventory movements
      responses:
        '200':
          description: OK
  /api/v1/inventory-movements/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Inventory
      operationId: getInventoryMovement
      summary: Retrieve inventory movement
      responses:
        '200':
          description: OK
    put:
      tags:
      - Inventory
      operationId: updateInventoryMovement
      summary: Update inventory movement
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Inventory
      operationId: deleteInventoryMovement
      summary: Delete inventory movement
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
