openapi: 3.2.0
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1 Product…
  version: v1
  description: REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud manufacturing execution / production management platform for small and mid-sized manufacturers.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
- url: https://fusionoperations.autodesk.com
  description: Production (Autodesk Fusion Operations)
security:
- basicAuth: []
- accessToken: []
tags:
- name: Product Families
paths:
  /api/v1/product-families/:
    post:
      tags:
      - Product Families
      operationId: createProductFamily
      summary: Create product family
      responses:
        '201':
          description: Created
    get:
      tags:
      - Product Families
      operationId: listProductFamilies
      summary: List product families
      responses:
        '200':
          description: OK
  /api/v1/product-families/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Product Families
      operationId: updateProductFamily
      summary: Update product family
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Product Families
      operationId: deleteProductFamily
      summary: Delete product family
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key as username and API Secret as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
