openapi: 3.0.3
# x-provenance: generated by the API Evangelist enrichment pipeline from the
#   publicly documented Autodesk Fusion Operations (formerly Prodsmart) v1 API
#   reference. Paths, methods, summaries, auth, rate limit and conventions are
#   transcribed verbatim from the docs; request/response SCHEMAS are NOT
#   published by the provider and are therefore left unmodeled (no fabrication).
# x-generated: '2026-07-20'
# x-method: generated
# x-source: https://fusionoperations.autodesk.com/api-documentation
info:
  title: Autodesk Fusion Operations (Prodsmart) API v1
  version: v1
  description: >-
    REST API for Autodesk Fusion Operations (formerly Prodsmart), a cloud
    manufacturing execution / production management platform for small and
    mid-sized manufacturers. This v1 surface is documented publicly and is
    marked DEPRECATED by Autodesk, which recommends migrating to the v2 API on
    Autodesk Platform Services (APS). Authentication is HTTP Basic (API Key as
    username, API Secret as password) which mints a 2-hour token; most endpoints
    also accept an access_token query parameter. Requests and responses are
    JSON; dates are ISO 8601. Rate limit is 120 requests per minute per company.
  contact:
    name: Autodesk Fusion Operations
    url: https://help.fusionoperations.autodesk.com/
  x-rate-limit: 120 requests per minute per company
  x-deprecated-notice: >-
    v1 is deprecated; migrate to v2 at https://aps.autodesk.com/en/docs/fusion-operations/v2
servers:
  - url: https://fusionoperations.autodesk.com
    description: Production (Autodesk Fusion Operations)
security:
  - basicAuth: []
  - accessToken: []
tags:
  - name: Authorization
  - name: Sales Orders
  - name: Clients
  - name: Purchase Orders
  - name: Suppliers
  - name: Production Orders
  - name: Products
  - name: Product Families
  - name: Machines
  - name: Productions
  - name: Downtime
  - name: Punch Clock
  - name: Inventory
  - name: Task Durations
  - name: Reports
  - name: Changes Feed
paths:
  /api/v1/authorization:
    get:
      tags: [Authorization]
      operationId: getAuthorization
      summary: Retrieve authorization token (deprecated)
      deprecated: true
      responses:
        '200': { description: OK }
    post:
      tags: [Authorization]
      operationId: createAuthorization
      summary: Create new authorization token (deprecated)
      deprecated: true
      responses:
        '200': { description: OK }
    delete:
      tags: [Authorization]
      operationId: deleteAuthorization
      summary: Remove authorization (deprecated)
      deprecated: true
      responses:
        '204': { description: No Content }
  /api/v1/sales-orders/:
    post:
      tags: [Sales Orders]
      operationId: createSalesOrder
      summary: Create sales order
      responses: { '201': { description: Created } }
    get:
      tags: [Sales Orders]
      operationId: listSalesOrders
      summary: List sales orders
      responses: { '200': { description: OK } }
  /api/v1/sales-orders/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Sales Orders]
      operationId: getSalesOrder
      summary: Retrieve specific sales order
      responses: { '200': { description: OK } }
    put:
      tags: [Sales Orders]
      operationId: updateSalesOrder
      summary: Update sales order
      responses: { '200': { description: OK } }
    delete:
      tags: [Sales Orders]
      operationId: deleteSalesOrder
      summary: Remove sales order
      responses: { '204': { description: No Content } }
  /api/v1/sales-orders/{id}/files:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Sales Orders]
      operationId: createSalesOrderFile
      summary: Create sales order file
      responses: { '201': { description: Created } }
    get:
      tags: [Sales Orders]
      operationId: listSalesOrderFiles
      summary: List sales order files
      responses: { '200': { description: OK } }
  /api/v1/sales-orders/{id}/files/{file_id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: file_id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Sales Orders]
      operationId: getSalesOrderFile
      summary: Retrieve sales order file
      responses: { '200': { description: OK } }
    put:
      tags: [Sales Orders]
      operationId: updateSalesOrderFile
      summary: Update sales order file
      responses: { '200': { description: OK } }
    delete:
      tags: [Sales Orders]
      operationId: deleteSalesOrderFile
      summary: Remove sales order file
      responses: { '204': { description: No Content } }
  /api/v1/clients/:
    post:
      tags: [Clients]
      operationId: createClient
      summary: Create client
      responses: { '201': { description: Created } }
    get:
      tags: [Clients]
      operationId: listClients
      summary: List clients
      responses: { '200': { description: OK } }
  /api/v1/clients/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Clients]
      operationId: getClient
      summary: Retrieve client
      responses: { '200': { description: OK } }
    put:
      tags: [Clients]
      operationId: updateClient
      summary: Update client
      responses: { '200': { description: OK } }
    delete:
      tags: [Clients]
      operationId: deleteClient
      summary: Remove client
      responses: { '204': { description: No Content } }
  /api/v1/purchase-orders/:
    post:
      tags: [Purchase Orders]
      operationId: createPurchaseOrder
      summary: Create purchase order
      responses: { '201': { description: Created } }
    get:
      tags: [Purchase Orders]
      operationId: listPurchaseOrders
      summary: List purchase orders
      responses: { '200': { description: OK } }
  /api/v1/purchase-orders/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Purchase Orders]
      operationId: getPurchaseOrder
      summary: Retrieve purchase order
      responses: { '200': { description: OK } }
    put:
      tags: [Purchase Orders]
      operationId: updatePurchaseOrder
      summary: Update purchase order
      responses: { '200': { description: OK } }
    delete:
      tags: [Purchase Orders]
      operationId: deletePurchaseOrder
      summary: Remove purchase order
      responses: { '204': { description: No Content } }
  /api/v1/purchase-orders/{id}/files:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Purchase Orders]
      operationId: createPurchaseOrderFile
      summary: Create purchase order file
      responses: { '201': { description: Created } }
    get:
      tags: [Purchase Orders]
      operationId: listPurchaseOrderFiles
      summary: List purchase order files
      responses: { '200': { description: OK } }
  /api/v1/purchase-orders/{id}/files/{file_id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: file_id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Purchase Orders]
      operationId: getPurchaseOrderFile
      summary: Retrieve purchase order file
      responses: { '200': { description: OK } }
    put:
      tags: [Purchase Orders]
      operationId: updatePurchaseOrderFile
      summary: Update purchase order file
      responses: { '200': { description: OK } }
    delete:
      tags: [Purchase Orders]
      operationId: deletePurchaseOrderFile
      summary: Remove purchase order file
      responses: { '204': { description: No Content } }
  /api/v1/suppliers/:
    post:
      tags: [Suppliers]
      operationId: createSupplier
      summary: Create supplier
      responses: { '201': { description: Created } }
    get:
      tags: [Suppliers]
      operationId: listSuppliers
      summary: List suppliers
      responses: { '200': { description: OK } }
  /api/v1/suppliers/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Suppliers]
      operationId: getSupplier
      summary: Retrieve supplier
      responses: { '200': { description: OK } }
    put:
      tags: [Suppliers]
      operationId: updateSupplier
      summary: Update supplier
      responses: { '200': { description: OK } }
    delete:
      tags: [Suppliers]
      operationId: deleteSupplier
      summary: Remove supplier
      responses: { '204': { description: No Content } }
  /api/v1/production-orders/:
    post:
      tags: [Production Orders]
      operationId: createProductionOrder
      summary: Create production order
      responses: { '201': { description: Created } }
    get:
      tags: [Production Orders]
      operationId: listProductionOrders
      summary: List production orders
      responses: { '200': { description: OK } }
  /api/v1/production-orders/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Production Orders]
      operationId: getProductionOrder
      summary: Retrieve production order
      responses: { '200': { description: OK } }
    put:
      tags: [Production Orders]
      operationId: updateProductionOrder
      summary: Update production order
      responses: { '200': { description: OK } }
    delete:
      tags: [Production Orders]
      operationId: deleteProductionOrder
      summary: Remove production order
      responses: { '204': { description: No Content } }
  /api/v1/production-orders/{id}/problem:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Production Orders]
      operationId: notifyProductionOrderProblem
      summary: Notify production issue
      responses: { '200': { description: OK } }
  /api/v1/production-orders/{id}/activate:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Production Orders]
      operationId: activateProductionOrder
      summary: Activate production order
      responses: { '200': { description: OK } }
  /api/v1/production-orders/{id}/files:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Production Orders]
      operationId: createProductionOrderFile
      summary: Create production order file
      responses: { '201': { description: Created } }
    get:
      tags: [Production Orders]
      operationId: listProductionOrderFiles
      summary: List production order files
      responses: { '200': { description: OK } }
  /api/v1/production-orders/{id}/files/{file_id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: file_id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Production Orders]
      operationId: getProductionOrderFile
      summary: Retrieve production order file
      responses: { '200': { description: OK } }
    put:
      tags: [Production Orders]
      operationId: updateProductionOrderFile
      summary: Update production order file
      responses: { '200': { description: OK } }
    delete:
      tags: [Production Orders]
      operationId: deleteProductionOrderFile
      summary: Remove production order file
      responses: { '204': { description: No Content } }
  /api/v1/products/:
    post:
      tags: [Products]
      operationId: createProduct
      summary: Create product
      responses: { '201': { description: Created } }
    get:
      tags: [Products]
      operationId: listProducts
      summary: List products
      responses: { '200': { description: OK } }
  /api/v1/products/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Products]
      operationId: getProduct
      summary: Retrieve product
      responses: { '200': { description: OK } }
    put:
      tags: [Products]
      operationId: updateProduct
      summary: Update product
      responses: { '200': { description: OK } }
    delete:
      tags: [Products]
      operationId: deleteProduct
      summary: Delete product
      responses: { '204': { description: No Content } }
  /api/v1/products/{id}/files:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Products]
      operationId: createProductFile
      summary: Create product file
      responses: { '201': { description: Created } }
    get:
      tags: [Products]
      operationId: listProductFiles
      summary: List product files
      responses: { '200': { description: OK } }
  /api/v1/products/{id}/files/{file_id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: file_id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Products]
      operationId: getProductFile
      summary: Retrieve product file
      responses: { '200': { description: OK } }
    put:
      tags: [Products]
      operationId: updateProductFile
      summary: Update product file
      responses: { '200': { description: OK } }
    delete:
      tags: [Products]
      operationId: deleteProductFile
      summary: Remove product file
      responses: { '204': { description: No Content } }
  /api/v1/products/{id}/bom:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Products]
      operationId: updateProductBom
      summary: Update Bill of Materials
      responses: { '200': { description: OK } }
  /api/v1/product-families/:
    post:
      tags: [Product Families]
      operationId: createProductFamily
      summary: Create product family
      responses: { '201': { description: Created } }
    get:
      tags: [Product Families]
      operationId: listProductFamilies
      summary: List product families
      responses: { '200': { description: OK } }
  /api/v1/product-families/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    put:
      tags: [Product Families]
      operationId: updateProductFamily
      summary: Update product family
      responses: { '200': { description: OK } }
    delete:
      tags: [Product Families]
      operationId: deleteProductFamily
      summary: Delete product family
      responses: { '204': { description: No Content } }
  /api/v1/machines/{id}/counter:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Machines]
      operationId: updateMachineCounter
      summary: Update machine counter
      responses: { '200': { description: OK } }
  /api/v1/machines/{id}/downtime:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Machines]
      operationId: updateMachineDowntime
      summary: Update machine downtime
      responses: { '200': { description: OK } }
  /api/v1/productions/:
    post:
      tags: [Productions]
      operationId: createProduction
      summary: Create production record
      responses: { '201': { description: Created } }
    get:
      tags: [Productions]
      operationId: listProductions
      summary: List production records
      responses: { '200': { description: OK } }
  /api/v1/productions/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    put:
      tags: [Productions]
      operationId: updateProduction
      summary: Update production record
      responses: { '200': { description: OK } }
    delete:
      tags: [Productions]
      operationId: deleteProduction
      summary: Delete production record
      responses: { '204': { description: No Content } }
  /api/v1/downtimes/:
    get:
      tags: [Downtime]
      operationId: listDowntimes
      summary: List downtimes
      responses: { '200': { description: OK } }
  /api/v1/punch-clocks/:
    get:
      tags: [Punch Clock]
      operationId: listPunchClocks
      summary: List punch clock entries
      responses: { '200': { description: OK } }
  /api/v1/inventory/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Inventory]
      operationId: getInventory
      summary: Retrieve product inventory
      responses: { '200': { description: OK } }
  /api/v1/inventory-movements/:
    post:
      tags: [Inventory]
      operationId: createInventoryMovement
      summary: Create inventory movement
      responses: { '201': { description: Created } }
    get:
      tags: [Inventory]
      operationId: listInventoryMovements
      summary: List inventory movements
      responses: { '200': { description: OK } }
  /api/v1/inventory-movements/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Inventory]
      operationId: getInventoryMovement
      summary: Retrieve inventory movement
      responses: { '200': { description: OK } }
    put:
      tags: [Inventory]
      operationId: updateInventoryMovement
      summary: Update inventory movement
      responses: { '200': { description: OK } }
    delete:
      tags: [Inventory]
      operationId: deleteInventoryMovement
      summary: Delete inventory movement
      responses: { '204': { description: No Content } }
  /api/v1/task-durations/:
    post:
      tags: [Task Durations]
      operationId: createTaskDuration
      summary: Create task duration record
      responses: { '201': { description: Created } }
    get:
      tags: [Task Durations]
      operationId: listTaskDurations
      summary: List task durations
      responses: { '200': { description: OK } }
  /api/v1/task-durations/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: [Task Durations]
      operationId: getTaskDuration
      summary: Retrieve task duration
      responses: { '200': { description: OK } }
    patch:
      tags: [Task Durations]
      operationId: updateTaskDuration
      summary: Update task duration
      responses: { '200': { description: OK } }
    delete:
      tags: [Task Durations]
      operationId: deleteTaskDuration
      summary: Delete task duration
      responses: { '204': { description: No Content } }
  /api/v1/reports/worker-labor-time:
    get:
      tags: [Reports]
      operationId: getWorkerLaborTimeReport
      summary: Worker labor time report
      responses: { '200': { description: OK } }
  /api/v1/changes-feed-channels/:
    get:
      tags: [Changes Feed]
      operationId: listChangesFeedChannels
      summary: Access changes feed channels
      responses: { '200': { description: OK } }
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication using the API Key as username and API Secret
        as password. Used to mint a token valid for 2 hours.
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Token passed as the access_token query parameter on most endpoints.
